p{
    font-family: Arial;
    color: white;
}body {
    background : url('../images/images1.jpg');
}#wrapper{
    background-color:rgba(0, 0, 0, 0.5);
    margin-top: 85%;
    margin-left: 2%;
    margin-right: 50%;
}